<center><h1>Weekly Pandas üêº Challenge #3</h1></center>

In [1]:
import pandas as pd
file = "drinks.csv"

In [2]:
df = pd.read_csv(file)

### Take A Peek At Dataset

In [3]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Q1. Which continent drinks more beer on average?

In [49]:
max = 0
for item in df.groupby('continent')['beer_servings']:
    if item[1].mean() > max:
        max = item[1].mean()

In [50]:
print(f"The {item[0]} continent drinks more beer on average.")

The SA continent drinks more beer on average.

### Q2. For each continent print the statistics for wine consumption.

In [52]:
df.groupby('continent')['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Q3. Print the mean alcohol consumption per continent for every column.

In [53]:
df.groupby('continent')['total_litres_of_pure_alcohol'].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Q4. Print the median alcohol consumption per continent for every column.

In [60]:
df.groupby('continent')[['beer_servings', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol']].median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

<h2><center>Challenge Completed Successfully üí´ Ready For More ü§û</center></h2>